user www-data www-data;
worker_processes {{ env.Getenv "ASM_WORKER_PROCESSES" "auto" }};
worker_rlimit_nofile {{ env.Getenv "ASM_WORKER_RLIMIT_NOFILE" "20480" }};
worker_priority {{ env.Getenv "ASM_WORKER_PRIORITY" "-10" }};
thread_pool default threads={{ env.Getenv "ASM_THREAD_POOL_THREADS" "32" }} max_queue={{ env.Getenv "ASM_THREAD_POOL_MAX_QUEUE" "65536" }};

events {
  worker_connections {{ env.Getenv "ASM_WORKER_CONNECTIONS" "8192" }};
  worker_aio_requests {{ env.Getenv "ASM_WORKER_AIO_REQUESTS" "32" }};
  accept_mutex_delay {{ env.Getenv "ASM_ACCEPT_MUTEX_DELAY" "500ms" }};
  accept_mutex {{ env.Getenv "ASM_ACCEPT_MUTEX" "off" }};
  use epoll;
  multi_accept {{ env.Getenv "ASM_MULTI_ACCEPT" "on" }};
}

{{ $logMethod := env.Getenv "ASM_LOG_METHOD" "file" }}
{{ $nodeID := env.Getenv "ASM_NODE_ID" "0" }}
{{ $syslogErrorServer := env.Getenv "ASM_ERROR_LOG_SYSLOG_SERVER_ADDR" "127.0.0.1:5140" }}
{{ $syslogAccessServer := env.Getenv "ASM_ACCESS_LOG_SYSLOG_SERVER_ADDR" "127.0.0.1:5141" }}
{{ $errorLogLevel := env.Getenv "ASM_ERROR_LOG_LEVEL" "warn" }}

{{ if eq $logMethod "file" }}
error_log /log/nginx.in.main.error.log {{ $errorLogLevel }};
{{ else if eq  $logMethod "syslog" }}
error_log syslog:server={{ $syslogErrorServer }},tag=nginx_error_main,nohostname {{ $errorLogLevel }};
{{ else }}
error_log /dev/stdout {{ $errorLogLevel }};
{{ end -}}

http {

  resolver {{ env.Getenv "ASM_RESOLVER_ADDR" "127.0.0.1" }} valid={{ env.Getenv "ASM_RESOLVER_VALID" "10m" }};
  resolver_timeout {{ env.Getenv "ASM_RESOLVER_TIMEOUT" "5s" }};

{{ if eq $logMethod "file" }}
  error_log /log/nginx.in.http.error.log {{ $errorLogLevel }};
{{ else if eq  $logMethod "syslog" }}
  error_log syslog:server={{ $syslogErrorServer }},tag=nginx_error_http,nohostname {{ $errorLogLevel }};
{{ else }}
  error_log /dev/stdout {{ $errorLogLevel }};
{{ end -}}

  variables_hash_max_size {{ env.Getenv "ASM_VARIABLES_HASH_MAX_SIZE" "4096" }};

  open_file_cache max={{ env.Getenv "ASM_OPEN_FILE_CACHE_MAX" "1024" }} inactive={{ env.Getenv "ASM_OPEN_FILE_CACHE_INACTIVE" "10m" }};
  open_file_cache_valid {{ env.Getenv "ASM_OPEN_FILE_CACHE_VALID" "5m" }};
  open_file_cache_min_uses {{ env.Getenv "ASM_OPEN_FILE_CACHE_MIN_USES" "2" }};
  open_file_cache_errors {{ env.Getenv "ASM_OPEN_FILE_CACHE_ERRORS" "on" }};

  include /usr/local/openresty/nginx/defaults/http_custom_errors.conf;

  default_type application/octet-stream;
  include /usr/local/openresty/nginx/defaults/mime.types;

  #########################
  # Runtime configuration #
  #########################
  map $host $organization_title { default '{{ env.Getenv "ASM_ORGANIZATION_TITLE" "aasaam software development group" }}'; }
  map $host $organization_brand_icon { default '{{ env.Getenv "ASM_ORGANIZATION_BRAND_ICON" "ir_aasaam" }}'; }

  map $host $support_email { default '{{ env.Getenv "ASM_SUPPORT_EMAIL" "" }}'; }
  map $host $support_tel { default '{{ env.Getenv "ASM_SUPPORT_TEL" "" }}'; }
  map $host $support_url { default '{{ env.Getenv "ASM_SUPPORT_URL" "" }}'; }

  map $host $protection_port { default '{{ env.Getenv "ASM_PROTECTION_PORT" "9121" }}'; }
  map $host $acme_http_host_port { default '{{ env.Getenv "ASM_PROTECTION_PORT" "http://192.168.1.1:8080" }}'; }

  include /usr/local/openresty/nginx/defaults/http_init_variables.conf;

  userid v1;
  userid_name {{ env.Getenv "ASM_USERID_NAME" "aasaam_cid" }};
  userid_path {{ env.Getenv "ASM_USERID_PATH" "/" }};
  userid_flags {{ env.Getenv "ASM_USERID_FLAGS" "httponly samesite=lax" }};
  userid_expires {{ env.Getenv "ASM_USERID_EXPIRES" "365d" }};

  geoip2 /GeoIP2/City.mmdb {
    $geo_continent_code source=$remote_addr continent code;
    $geo_continent_name source=$remote_addr continent names en;
    $geo_country_code source=$remote_addr country iso_code;
    $geo_country_geocode source=$remote_addr country geoname_id;
    $geo_country_name source=$remote_addr country names en;
    $geo_city source=$remote_addr city names en;
    $geo_timezone source=$remote_addr location time_zone;
    $geo_latitude source=$remote_addr location latitude;
    $geo_longitude source=$remote_addr location longitude;
    $geo_accuracy_radius source=$remote_addr location longitude;
  }

  geoip2 /GeoIP2/ASN.mmdb {
    $geo_isp_number source=$remote_addr autonomous_system_number;
    $geo_isp source=$remote_addr autonomous_system_organization;
  }

  log_format jsonlog escape=json '{"time":"$time_iso8601",'
    '"node":"{{ $nodeID }}",'
    '"ip":"$remote_addr",'
    '"ip_class":"$ip_class",'
    '"request_id":"$request_id",'
    '"client_uid":"$uid_got$uid_set",'
    '"client_new":"$uid_set",'
    '"client_cn":"$ssl_client_s_dn_cn",'
    '"user_id":"$user_id",'
    '"waf_mode":"$waf_mode",'

    '"protection_enable":"$protection_enable",'
    '"protection_config_challenge":"$protection_config_challenge",'

    '"agent_name":"$agent_name",'
    '"agent_version":"$agent_version_major",'
    '"agent_os":"$agent_os",'
    '"agent_os_version":"$agent_os_version_major",'
    '"agent_category":"$agent_category",'
    '"agent_vendor":"$agent_vendor",'
    '"agent_all":"$agent_all",'
    '"user_agent_hash":"$user_agent_hash",'

    '"scheme":"$scheme",'
    '"method":"$request_method",'
    '"http2":"$http2",'
    '"user_agent":"$http_user_agent",'
    '"ssl_version":"$ssl_protocol",'
    '"host":"$http_host",'
    '"request_uri":"$request_uri",'
    '"request_length":"$request_length",'
    '"status":"$status",'
    '"bytes_sent":"$bytes_sent",'
    '"body_bytes_sent":"$body_bytes_sent",'
    '"referer":"$http_referer",'
    '"foreign_referer_host":"$foreign_referer_host",'
    '"request_time":"$request_time",'
    '"content_type":"$sent_http_content_type",'
    '"content_length":"$sent_http_content_length",'

    '"brotli_ratio":"$brotli_ratio",'
    '"gzip_ratio":"$gzip_ratio",'

    '"ps_org_content_length":"$sent_http_x_original_content_length",'
    '"ps_active":"$sent_http_x_page_speed",'

    '"upstream_bytes_received":"$upstream_bytes_received",'
    '"upstream_bytes_sent":"$upstream_bytes_sent",'
    '"upstream_connect_time":"$upstream_connect_time",'
    '"upstream_header_time":"$upstream_header_time",'
    '"upstream_response_length":"$upstream_response_length",'
    '"upstream_response_time":"$upstream_response_time",'
    '"upstream_cache_status":"$upstream_cache_status"}';

{{ if eq $logMethod "file" }}
  access_log /log/nginx.in.access.log jsonlog;
{{ else if eq  $logMethod "syslog" }}
  access_log syslog:server={{ $syslogAccessServer }},tag=nginx_access_log,nohostname jsonlog;
{{ else }}
  access_log /dev/stdout jsonlog;
{{ end -}}

  server_tokens {{ env.Getenv "ASM_SERVER_TOKENS" "off" }};
  client_max_body_size {{ env.Getenv "ASM_CLIENT_MAX_BODY_SIZE" "10M" }};
  client_body_buffer_size {{ env.Getenv "ASM_CLIENT_MAX_BODY_SIZE" "10M" }};
  client_body_timeout {{ env.Getenv "ASM_CLIENT_BODY_TIMEOUT" "15" }};
  keepalive_requests {{ env.Getenv "ASM_KEEPALIVE_REQUESTS" "1024" }};
  keepalive_timeout {{ env.Getenv "ASM_KEEPALIVE_TIMEOUT" "10" }};
  reset_timedout_connection {{ env.Getenv "ASM_RESET_TIMEDOUT_CONNECTION" "on" }};
  send_timeout {{ env.Getenv "ASM_SEND_TIMEOUT" "10" }};
  sendfile {{ env.Getenv "ASM_SENDFILE" "on" }};
  tcp_nodelay {{ env.Getenv "ASM_TCP_NODELAY" "on" }};
  tcp_nopush {{ env.Getenv "ASM_TCP_NOPUSH" "on" }};

  charset utf-8;
  charset_types
    application/atom+xml
    application/dash+xml
    application/javascript
    application/json
    application/ld+json
    application/manifest+json
    application/x-ndjson
    application/rss+xml
    application/vnd.apple.mpegurl
    application/x-javascript
    application/xml
    image/svg+xml
    text/css
    text/javascript
    text/plain
    text/xml;

  gzip {{ env.Getenv "ASM_GZIP" "on" }};
  gzip_static {{ env.Getenv "ASM_GZIP_STATIC" "on" }};
  gzip_min_length {{ env.Getenv "ASM_GZIP_MIN_LENGTH" "16" }};
  gzip_comp_level {{ env.Getenv "ASM_GZIP_COMP_LEVEL" "6" }};
  gzip_vary {{ env.Getenv "ASM_GZIP_VARY" "on" }};
  gzip_proxied {{ env.Getenv "ASM_GZIP_PROXIED" "any" }};
  gzip_types
    audio/mpegurl
    video/mpegurl
    application/atom+xml
    application/dash+xml
    application/dicom
    application/javascript
    application/json
    application/ld+json
    application/manifest+json
    application/x-ndjson
    application/rss+xml
    application/vnd.apple.mpegurl
    application/vnd.ms-fontobject
    application/x-javascript
    application/xml
    font/opentype
    font/truetype
    font/ttf
    image/gif
    image/jpeg
    image/png
    image/svg+xml
    image/x-icon
    text/css
    text/javascript
    text/plain
    text/x-component
    text/xml;

  brotli {{ env.Getenv "ASM_BROTLI" "on" }};
  brotli_static {{ env.Getenv "ASM_BROTLI_STATIC" "on" }};
  brotli_comp_level {{ env.Getenv "ASM_BROTLI_COMP_LEVEL" "6" }};
  brotli_min_length {{ env.Getenv "ASM_BROTLI_MIN_LENGTH" "16" }};
  brotli_types
    audio/mpegurl
    video/mpegurl
    application/atom+xml
    application/dash+xml
    application/dicom
    application/javascript
    application/json
    application/ld+json
    application/manifest+json
    application/x-ndjson
    application/rss+xml
    application/vnd.apple.mpegurl
    application/vnd.ms-fontobject
    application/x-javascript
    application/xml
    font/opentype
    font/truetype
    font/ttf
    image/gif
    image/jpeg
    image/png
    image/svg+xml
    image/x-icon
    text/css
    text/javascript
    text/plain
    text/x-component
    text/xml;


  #
  # Total cache size {{ env.Getenv "ASM_CACHE_SIZE_MB" "1024" }}
  #

  proxy_http_version 1.1;
  proxy_cache_path /cache/nginx-proxy levels=1:2 keys_zone=PROXYCACHE:{{ env.Getenv "ASM_PROXY_CACHE_PATH_KEYS_ZONE" "32m" }} max_size={{ env.Getenv "ASM_PROXY_CACHE_PATH_KEYS_MAX_SIZE_MB" "512" }}m inactive={{ env.Getenv "ASM_PROXY_CACHE_PATH_KEYS_INACTIVE" "60m" }};
  proxy_cache_key {{ env.Getenv "ASM_PROXY_CACHE_KEY" "$scheme$request_method$host$request_uri" }};
  proxy_cache_methods {{ env.Getenv "ASM_PROXY_CACHE_METHODS" "GET HEAD" }};
  proxy_buffers {{ env.Getenv "ASM_PROXY_BUFFERS" "32" }} {{ env.Getenv "ASM_PROXY_BUFFERS_SIZE" "128k" }};
  proxy_buffer_size {{ env.Getenv "ASM_PROXY_BUFFER_SIZE" "256k" }};

  init_by_lua_block {
    resty_md5 = require "resty.md5"
    str = require "resty.string"
    resty_woothee = require "resty.woothee"
    resty_url = require "resty.url"

    utils = require "utils"
    locales = require "locales"
    normalize = require "normalize"
    browsers = require "browsers"
    loading_page = require "loading_page"
  }

  http2_push_preload {{ env.Getenv "ASM_HTTP2_PUSH_PRELOAD" "on" }};

  # default headers
  more_set_headers "Server: aasaam";
  more_set_headers "X-Aasaam-Node-ID: {{ $nodeID }}";

  # remove security headers
  more_clear_headers 'X-Powered-By';
  more_clear_headers 'X-Varnish';

  #############
  # pagespeed #
  #############
  pagespeed {{ env.Getenv "ASM_PAGESPEED" "standby" }};
  pagespeed UsePerVhostStatistics {{ env.Getenv "ASM_PAGESPEED_USE_PER_VHOST_STATISTICS" "on" }};
  pagespeed HttpCacheCompressionLevel {{ env.Getenv "ASM_PAGESPEED_HTTP_CACHE_COMPRESSION_LEVEL" "0" }};
  pagespeed FetchWithGzip {{ env.Getenv "ASM_PAGESPEED_FETCH_WITH_GZIP" "on" }};
  pagespeed Statistics {{ env.Getenv "ASM_PAGESPEED_STATISTICS" "on" }};
  pagespeed StatisticsLogging {{ env.Getenv "ASM_PAGESPEED_STATISTICS_LOGGING" "off" }};
  pagespeed StatisticsLoggingIntervalMs {{ env.Getenv "ASM_PAGESPEED_STATISTICS_LOGGING_INTERVAL_MS" "60000" }};
  pagespeed StatisticsLoggingMaxFileSizeKb {{ env.Getenv "ASM_PAGESPEED_STATISTICS_LOGGING_MAX_FILE_SIZE_KB" "8192" }};
  pagespeed MessageBufferSize {{ env.Getenv "ASM_PAGESPEED_MESSAGE_BUFFER_SIZE" "100000" }};
  pagespeed FileCacheSizeKb {{ env.Getenv "ASM_PAGESPEED_FILE_CACHE_SIZE_KB" "102400" }};
  pagespeed FileCacheCleanIntervalMs {{ env.Getenv "ASM_PAGESPEED_FILE_CACHE_CLEAN_INTERVAL_MS" "600000" }};
  pagespeed FileCacheInodeLimit {{ env.Getenv "ASM_PAGESPEED_FILE_CACHE_INODE_LIMIT" "262144" }};
  pagespeed LRUCacheKbPerProcess {{ env.Getenv "ASM_PAGESPEED_LRU_CACHE_KB_PER_PROCESS" "2048" }};
  pagespeed LRUCacheByteLimit {{ env.Getenv "ASM_PAGESPEED_LRU_CACHE_BYTE_LIMIT" "32768" }};

  pagespeed LogDir /log/nginx-pagespeed;
  pagespeed FileCachePath /cache/nginx-pagespeed;
  pagespeed StatisticsPath /.well-known/pagespeed/statistics;
  pagespeed GlobalStatisticsPath /.well-known/pagespeed/global_statistics;
  pagespeed MessagesPath /.well-known/pagespeed/message;
  pagespeed ConsolePath /.well-known/pagespeed/console;
  pagespeed AdminPath /.well-known/pagespeed/admin;
  pagespeed GlobalAdminPath /.well-known/pagespeed/global_admin;
  pagespeed BeaconUrl /.well-known/beacon-pagespeed;
  pagespeed XHeaderValue "1";
  # pagespeed

  include /usr/local/openresty/nginx/defaults/naxsi_core.rules;

  limit_req_zone $binary_remote_addr zone=protection_req_limit_per_ip:{{ env.Getenv "ASM_PROTECTION_REQ_LIMIT_PER_IP_ZONE" "10m" }} rate={{ env.Getenv "ASM_PROTECTION_REQ_LIMIT_IP_PER_SECOND" "10" }}r/s;
  limit_conn_zone $binary_remote_addr zone=protection_conn_limit_per_ip:{{ env.Getenv "ASM_PROTECTION_CONN_LIMIT_PER_IP_ZONE" "10m" }};

  server {
{{ range(env.Getenv "ASM_HTTP_PORTS" "80" | strings.Split ",") }}
    listen {{ . }} default_server;{{end}}

    server_name _;

    include /usr/local/openresty/nginx/defaults/server_include_defaults.conf;
    include /usr/local/openresty/nginx/defaults/server_robots_block.conf;
    include /usr/local/openresty/nginx/defaults/server_include_aasaam_service.conf;

    # expose nginx monitoring
    include /usr/local/openresty/nginx/defaults/server_monitoring.conf;

    location / {
      return 436;
    }
  }

  server {
{{ range(env.Getenv "ASM_HTTPS_PORTS" "443" | strings.Split ",") }}
    listen {{ . }} ssl http2 default_server;{{end}}

    server_name _;

    include /usr/local/openresty/nginx/defaults/server_include_defaults.conf;
    include /usr/local/openresty/nginx/defaults/server_include_aasaam_service.conf;

    include /usr/local/openresty/nginx/defaults/server_http2_{{ env.Getenv "ASM_SSL_PROFILE" "intermediate" }}.conf;

    ssl_certificate /usr/local/openresty/nginx/defaults/selfsigned/cert.pem;
    ssl_certificate_key /usr/local/openresty/nginx/defaults/selfsigned/cert-key.pem;
    ssl_stapling off;
    ssl_stapling_verify off;

    location / {
      return 436;
    }
  }

  include /usr/local/openresty/nginx/addon/sites-enabled/*.conf;
  include /usr/local/openresty/addon-generated/sites-enabled/*.conf;
}
